*
  box-sizing: border-box

body, html
  font: $text_content

a
  display: block
  color: $color_black
  transition: all 0.3s ease
  //transform: scale(1)

  &:hover
    color: rgba($color_black, 0.6)
    //transform: scale(1.01)

.text-h1
  font: $text_h1
  //text-transform: uppercase

.text-h2
  font: $text_h2
  //text-transform: uppercase

.text-h3
  font: $text_h3

