*
  box-sizing: border-box

body, html, ul, ol
  margin: 0
  padding: 0
  font: $text_content

ul, ol
  list-style: none

.text-h1
  font: $text_h1
//text-transform: uppercase

.text-h2
  font: $text_h2
//text-transform: uppercase

.text-h3
  font: $text_h3

.text-content
  font: $text_content

.text-light
  color: $color_light

.text-uppercase
  text-transform: uppercase

.text-muted
  color: $color_gray

a
  display: block
  color: $color_black
  transition: all 0.3s ease
  text-decoration: none
  &:hover
    color: rgba($color_black, 0.6)
    text-decoration: underline
a.underlink, .underlink
  text-decoration: underline
  &:hover
    text-decoration: none

a.btn, button.btn
  display: block
  padding: 1em
  color: $color_light
  background: $color_black
  border: none
  &:hover
    color: $color_light
    text-decoration: none
    background: rgba($color_accent, 0.8)

  &.active, &:active
    color: $color_light
    background: $color_accent

button.btn--accent, a.btn--accent
  background: rgba($color_accent, 0.8)

label
  cursor: pointer