.instashop__pics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //grid-auto-rows: minmax(auto, auto);
  grid-template-rows: 7fr 1fr 7fr;
  grid-template-areas:
          "a b c"
          "a b f"
          "d e f";
  grid-gap: 40px / $v_width * 100vw;
  align-items: stretch;
}

.form {
  display: grid;
  grid-template-columns:  (414px / $v_width * 100vw) (574px / $v_width * 100vw) (238px / $v_width * 100vw);
  grid-template-rows:     (90px / $v_width * 100vw) (61px / $v_width * 100vw) (90px / $v_width * 100vw);
  grid-template-areas:
          'a b e'
          'a c e'
          'a d e';

}

