.text-h1
  font: $text_h1
//text-transform: uppercase

.text-h2
  font: $text_h2
//text-transform: uppercase

.text-h3
  font: $text_h3

.menu
  display: block
  position: fixed
  top: 4.166vh //45px
  left: 6.401vw





.logo
  margin: 0 1.214rem
  height: 9.062vh
  img
    height: 100%

.main-menu
  margin-top: 15.472vh
  a
    height: 3.572rem
    padding: 0 1.214rem
    line-height: 3.572rem
    text-transform: uppercase
    text-decoration: none


    &:hover
      background: rgba($color_accent, 0.2)

    &.active, &:active
      color: $color_laight
      background: $color_accent

ul.sub-menu
  margin-top: 10.925vh
  padding: 0 1.214rem
  a
    text-decoration: none
    &:hover
      text-decoration: underline

.icons-bar
  img path
    fill: green
    color: green
    //background-color: green